.home{
    z-index: 1;
    height: 900px;
    background:white;
    
    /* background-size: cover; */
}
.purple{
    height: 900px;
    background: #8A2BE2;
    text-align: center;
    
}
.content1{
    padding: 200px;
    font-size: 50px;
    color: white;
}
.content{
    
    padding: 30px;
}

.img{
    padding-left: 635px;
    padding-top: 50px;
}
.description{
    color: #8A2BE2;
    font-weight: bold;
    padding-left: 550px;
}