body.active-modal {
    overflow-y: hidden;
    
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    min-height: 100%;
    min-width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    min-height: 50%;
    min-width: 50%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}
.is-blurred {
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }
.animation1{
    width: 250px;
    transform: translate(10%,5%);
}
.content{
    text-align: center;
}
.scontent{
    text-align: center;
    padding-top: 2px;
    padding-bottom: 50px;
}
.btn{
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 10px 50px;
    background-color:#8A2BE2;
    color: white;
    border-radius: 7px;
    border-style: none;
    cursor: pointer;
    margin-left: auto;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.name{
    text-align: center;
}
.img{
    margin-top: 10px;
    width: 150px;
}
.button1{
    width:100px;
    margin-top: 5px;
    background-color:#8A2BE2;
    color: white;
    border-radius: 7px;
    border-style: none;
    cursor: pointer;
}